@CHARSET "UTF-8";

.progress-bar {
    color: #333;
} 

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}
textarea {
    resize: none;
  } 
  
.logo {
  width: 250px;
  display: flex;
  margin:0 auto;
}
.left {
    display: inline-block;
  overflow: hidden;
  max-width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.right {
  display: inline-block;
  white-space: nowrap;
}


.btnMain {
  font-family: Ubuntu;
  font-weight: bold;
  letter-spacing: 5px;
}

.main-button {
  width: 28px;
  height: 28px;
  font-size: 25px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  @include box-sizing(border-box);

  &:focus {
    z-index: 2;
  }
}

.input-spend {
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    height: 43px;
}

body {
    background: url(../../assets/image/paper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#singleshare { position: relative; color: #009900; font-weight: bolder; font-size: 200%;  }
#singlesecret { position: relative; color: red; font-weight: bolder; font-size: 200%;}
#namecoin { position: relative; color: black; font-weight: bolder; font-size: 200%;}
hr {
  margin: 1rem 0;
  color: red;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}


.form {
	margin-top: 2%;
}

.monospace {
	font-family: ubuntu;
	font-size: 12px;
	font-weight: bold;
	color: #0052a0;
}

form {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form img {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	form input,
	form button {
		font-size: 18px;
		margin: 16px 0;
	}
	form > div {
		text-align: center;
	}
	
.form-links {
	color: white;
	font-weight: bold;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 5px;
	background-color: #00263d;
}

.jackpot {
        color: white;
        font-weight: bold;
        text-align: center;
	font-family: monospace;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
        background-color: #00263d;
}

.form-links a {
	color: #fff;
}

.error-list {
	padding-left: 20px;
	text-align: left;
}

.clipboard, .refresh, .privkey, .customfee, .changeaddress, .donation, .hodl {
	padding: 2px;
	margin: 0px;
}

.currency-logo:hover {
	filter: drop-shadow(1px 1px 2px #4b4b4c) !important;
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

